header {
  background-color: #041F42;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px -50px 37px 52px black;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.welcome {
  font-size: 2.7em;
  margin-left: 100px;
  margin-right: -140px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: -240px;
  margin-right: 40px;
}

.header-link {
  color: #041f42;
  text-decoration: none;
  height: 40px;
  width: 160px;
  background-color: white;
  text-align: center;
  padding-top: 12px;
  border-radius: 3px;
  margin-right: 8px;
}

.header-link:hover {
  transform: scale(1.03);
}

.header-link:active {
  transform: scale(.97);
}

.dashboard-header {
  font-size: 1.5em;
}

.sign-out {
  font-size: 1.5em
}

#favorites {
  font-size: 1.2em;
  padding-top: 1px;
  height: 51px;
}




